.listfile{
    font-size: 14px;
    line-height: 20px;
    width: 400px;
    color: #8492a6;
    padding:10px 0;
    p{
        position: relative;
        padding:0 5px;
        i{
            margin-right:5px;
        }
        .el-icon-check{
            font-size: 12px;
            color: #67c23a;
            position: absolute;
            right: 0;
            top: 4px;
        }
        .el-icon-close{
            font-size: 12px; 
            position: absolute;
            right: 5px;
            top: 4px;
            display: none;
            cursor: pointer;
        }
        &:hover{
            background-color: #EFF2F7;
            .el-icon-check{
                display: none;
            }
            .el-icon-close{
                display: inline-block;
            }
        }
    }
}
.special_uploadfile{
    display: none;
}
.el-button{
    position: relative;
    .special_uploadfile_btn{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right:0;
    }

}